<h3 ng-bind="title"></h3>
<form role="form" name="createCaseForm" novalidate>
    <!-- Category -->
    <div class="form-group" ng-class="{'has-error': category === null}">
        <label class="control-label">Diagnosis</label>
        <p class="form-control-static" ng-show="category !== null" ng-bind="category.category"></p>
        <p class="form-control-static" ng-show="category === null">No diagnosis selected</p>
        <span class="help-block" ng-show="category === null">Please select the diagnosis from the left pane</span>
    </div>

    <!-- Clinical Data -->
    <div class="form-group">
        <label class="control-label">Clinical Data</label>
        <input class="form-control" type="text" name="clinicalDataField" ng_model="case.clinicalData"/>
    </div>

    <!-- Virtual Slide Provider -->
    <div class="form-group">
        <label class="control-label">Source</label>
        <select class="form-control" name="virtualSlideProviderIdField"
                ng-model="case.virtualSlideProviderId" ng-options="provider.id as provider.name for provider in providers">
        </select>
    </div>

    <!-- Slides -->
    <fieldset ng-repeat="slide in case.slides">
        <div ng-form="slideForm">
            <legend>Slide</legend>
            <div class="form-group" ng-class="{ 'has-error': slideForm.slideStainField.$dirty && slideForm.slideStainField.$invalid }">
                <label class="control-label">Stain<span>*</span></label>
                <input class="form-control" type="text" ng-model="slide.stain" name="slideStainField" ng-required="true"/>

                <!-- Error messages -->
                <span class="help-block" ng-show="slideForm.slideStainField.$dirty && slideForm.slideStainField.$error.required">Please mention the stain used in the slide</span>
            </div>
            <div class="form-group" ng-class="{ 'has-error': slideForm.slideUrlField.$dirty && slideForm.slideUrlField.$invalid }">
                <label class="control-label">Url<span>*</span></label>
                <input class="form-control" type="url" ng-model="slide.url" name="slideUrlField" ng-required="true"/>

                <!-- Error messages -->
                <span class="help-block" ng-show="slideForm.slideUrlField.$dirty && slideForm.slideUrlField.$error.url">Please provide a valid URL for the slide</span>
                <span class="help-block" ng-show="slideForm.slideUrlField.$dirty && slideForm.slideUrlField.$error.required">Please provide an URL</span>
            </div>
        </div>
    </fieldset>

    <!-- Action buttons -->
    <div class="form-group">
        <button class="btn btn-default" ng-click="addSlide()">Add new slide</button>
        <button class="btn btn-default" ng-click="removeSlide()" ng-show="case.slides.length > 1">Remove slide</button>
        <button class="btn btn-primary" ng-bind="action" ng-click="submit()"></button>
        <a class="btn btn-default" href="#cases/category/<% case.categoryId %>">Cancel</a>
    </div>
    <pre><% case | json %></pre>
</form>
