<div id="page-content">
    <div class="row">
        <div class="col-md-12">
            <kv-breadcrumbs ancestors="parents" category="category"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Subcategories <span class="badge pull-right" ng-bind="children.length"></span></h3>
                </div>
                <form class="form form-inline" name="createCategoryForm" novalidate ng-submit="save(cat)">
                    <table class="table">
                        <tr ng-show="children.length > 6">
                            <td>
                                <input class="form-control" type="text" ng-model="filterChildrenQuery" placeholder="Filter"/>
                            </td>
                            <td></td>
                        </tr>
                        <tr ng-repeat="category in children | filter: filterChildrenQuery">
                            <td><a ui-sref="category.category-list({id: category.id})" ng-bind="category.category"></a></td>
                            <td><a ui-sref="category.category-edit({id: category.parent_id, categoryId: category.id})" ng-show="category.parent_id !== null"><span class="glyphicon glyphicon-edit"></span></a></td>
                        </tr>

                        <tr ng-show="category">
                            <td>
                                <div class="form-group" ng-model="cat" kv-unique-category ng-class="{'has-error': ((createCategoryForm.$submitted || createCategoryForm.categoryField.$dirty) && createCategoryForm.categoryField.$invalid) || createCategoryForm.$error.unique }">
                                    <input class="form-control" type="text" ng-model="cat.category" ng-model-options="{updateOn: 'default blur',  debounce: { default: 800, blur: 0 }}"
                                           placeholder="Category name" name="categoryField" ng-required="true" ng-pattern="/^[A-Z][A-Za-z0-9 ]+$/"/>
                                    <span class="help-block" ng-show="(createCategoryForm.$submitted || createCategoryForm.categoryField.$dirty) && createCategoryForm.categoryField.$error.required">Please provide a name</span>
                                    <span class="help-block" ng-show="createCategoryForm.$submitted && createCategoryForm.$error.unique">Category already exists</span>
                                    <span class="help-block" ng-show="(createCategoryForm.$submitted || createCategoryForm.categoryField.$dirty) && createCategoryForm.categoryField.$error.pattern">Invalid name</span>
                                </div>
                            </td>
                            <td><button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-plus-sign"></span> Add</button></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>

