<div id="intro-block">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Organize Your Slides</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h3>1. View</h3>
                <p class="text-justify">View digitalized slides from various libraries. The slides are categorized for easy navigation. More slides are added to the library every day. You will never run out of slides to see.</p>
            </div>
            <div class="col-md-4">
                <h3>2. Select</h3>
                <p class="text-justify">Mark a slide as favourite. You will be later able to view them whenever you like it. Similarly, make a collection of similar slides and save them for later use.</p>
            </div>
            <div class="col-md-4">
                <h3>3. Export</h3>
                <p class="text-justify">You will be able to export a collection as SIS format to view in Imagescope  desktop application as and when required.</p>
            </div>
        </div>
    </div>
</div>

<div id="signup-block">
    <div class="container">
        <p class="lead text-center">
            All you have to do is join us and have fun learning the art of Pathology
        </p>
        <p class="text-center"><a class="btn btn-primary">Sign up free</a></p>
    </div>
</div>